<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>gallerypage</title>
    {% load static %}
</head>
<body>
<h1>My Gallery</h1>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A cum cupiditate dignissimos omnis! Ad aperiam corporis dolore dolores iusto magnam molestias natus necessitatibus neque officia perferendis, recusandae tenetur veritatis, voluptatem.</span><span>Ab amet, aperiam consequatur dicta, ducimus ea eligendi id incidunt ipsum minima molestiae non perferendis sint ullam unde vel veritatis voluptatum. Ex in praesentium reiciendis rem saepe sapiente sit voluptate.</span></p>
<img src="{% static 'assets/img_1.png' %}" alt="">
<img src="{% static 'assets/img_2.png' %}" alt="">
<img src="{% static 'assets/img_3.png' %}" alt="">
<img src="{% static 'assets/img_4.png' %}" alt="">
<img src="{% static 'assets/img_5.png' %}" alt="">
<img src="{% static 'assets/img_6.png' %}" alt="">
<img src="{% static 'assets/img_6.png' %}" alt="">


</body>
</html>