<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>home page</title>
     {% load static %}
    <style>
        h1{
            text-align: center;
            background-color: black;
            color: #4ac1f7;
            line-height: 81px;

        }
        h1:hover{
            background-color: #81d4fa;
            color: black;
        }
    </style>
</head>
<body>

<h1>QuickDash App</h1>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A adipisci autem commodi cumque eveniet in maxime perferendis porro possimus quas. Consectetur dolore excepturi exercitationem in qui quidem recusandae sed unde.</span><span>Assumenda consequuntur dolor iure necessitatibus odio optio placeat sequi temporibus! Aperiam consequatur cupiditate dolorem iste saepe, sequi! At debitis, excepturi expedita fugit impedit iste quibusdam sequi ullam, velit vero voluptate?</span></p>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum sint tempora tempore voluptatum! A amet architecto deserunt, doloremque ducimus est exercitationem facilis iure iusto, magni nesciunt nisi officia optio rem.</span><span>Ab adipisci aliquam aliquid animi blanditiis consectetur dicta dolore error eveniet excepturi fugiat fugit ipsam, iste itaque labore neque numquam obcaecati pariatur quasi ratione reprehenderit similique sunt ullam vitae voluptatem?</span></p>
<img src="{% static 'assets/img_1.png' %}" alt="">
<img src="{% static 'assets/img_2.png' %}" alt="">
<img src="{% static 'assets/img_3.png' %}" alt="">
<img src="{% static 'assets/img_4.png' %}" alt="">
<img src="{% static 'assets/img_5.png' %}" alt="">
<img src="{% static 'assets/img_6.png' %}" alt="">
<img src="{% static 'assets/img_6.png' %}" alt="">
</body>
</html>